<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
		crossorigin="anonymous">
	
	<title>Rejestracja użytkownika</title>
</head>
<body>

	<div class="container">
	
		<h3>Przejazdy dla każdego</h3>
		<hr>
		
		<p class="h4 mb-4>">Rejestracja</p>
		<form th:action="@{/registration}"
						th:object="${user}" method="POST">
		
		  
			<input type="hidden" th:field="*{id}">
		
			<input type="email" th:field="*{email}"
					class="form-control mb-4 col-4" placeholder="Email">
					
			<input type="password" th:field="*{password}"
					class="form-control mb-4 col-4" placeholder="Hasło">
					
			<input type="text" th:field="*{name}"
					class="form-control mb-4 col-4" placeholder="Imie">
					
			<input type="text" th:field="*{lastName}"
					class="form-control mb-4 col-4" placeholder="Nazwisko">
					
			<button type="submit" class="btn btn-info col-2">Zapisz</button>
	
		</form>
	<a th:href="@{/order/list}">Powrót do strony głównej</a>
	</div>
	
</body>
</html>